.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.btns button{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

.btns button:last-of-type{
    background-color: #DC3545
}
.btns button:first-of-type{
    background-color: #28A745
}